* {
  font-family: 'Monaco', 'Menlo', 'Ubuntu Mono', 'Droid Sans Mono', 'Consolas', monospace;
  font-size: 18px;
}

body,html {
  margin:0;
  background-color: #DFDFDF;
}

h2 {
  font-size: 18px;
}

.clepsydre-icon {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 12px;
  left: 10px;
}

#logs {
  li {
    list-style-type:none;
  }
  img {
    float: left;
    margin-right: 10px;
  }
}

#hint {
  width: 95%;
  margin-left: 10px;
  height: 200px;
}

#editor,#master-code { 
  left: 0px;
  top: 0px;
  bottom: 1px;
  right: 1px;
  background: white;
  position: absolute;
  overflow: hidden;
}
#newhint {
  position: absolute;
top: 15px;
right: 15px;
}

.master-header {
  position: relative;

  height: 40px;
}

.master-name {
  padding-left: 40px;
  line-height: 40px;
}

#editor {
  display: none;
}

.editor-wrap{
  position: relative;
  border: 1px solid #DDD;
  width: 100%;
}

.code .editor-wrap {
  height: 500px;
}

.mastercode .editor-wrap {
  height: 720px;
}
.master {
  vertical-align: top;
}
.master .editor-wrap {
  height: 365px;
}

.debug div, .debug, .debug tr, .debug td{
  border: 1px solid lime;
}

.code {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.code, .master, .test, .team {
  padding: 15px;
  vertical-align: top;
}

.layout{
  width: 100%;
  border-collapse: collapse;
  .header {
    background-color: #3C404B;
    color: #EFEFEF;
    padding-left: 15px;
  }
}
.size1on2 {
  width: 50%;
}
.size2on3 {
  width: 60%;
}
.size1on3 {
  width: 40%;
}

.test-header{
  position: relative;
  overflow: hidden;
  h2::before {
    position: absolute;
    width: 100%;
    content: '';
    height: 55px;
    box-shadow: 8px 20px 18px -2px rgba(0, 0, 0, 0.22);
    top: 0;
    left: -100%;
  }
  h2 {
    margin-left: 50px;
  }
}
.placeholder {
  width: 450px;
}


.contender-icon {

  height: 35px;
  width: 35px;
  display: block;
  position: absolute;
  left: 15px;
  top: 5px;
}



.footer {
  height: 20px;
}

.team {
  background-color: #F2F2F2;
  border-right: 1px solid #E6E6E6;
  width: 20px;
  vertical-align: top;
  span {
    line-height: 31px;
    vertical-align: top;
    padding-left: 10px;
  }
  /*
  img {
    border-radius: 15px;
    box-shadow: 3px 3px 5px 5px #EFEFEF;
    display: block;
    width: 30px;
  }
  */
}
.title{
  position: relative;
  h2 {
    position: absolute;
    left: 400px;
    top: 0;
  }
  #go {
    position: absolute;
    left: 520px;
    top: 15px;
    display: none;
  }
  .timer {
    position: absolute;
    left: 52px;
    top: 15px;
  }
  .command {
    position: absolute;
    left: 115px;
    top: 15px;
    button, input, a {
      margin-left: 10px;
      float: right;

      font-size: 12px ;
    }
    li {
      font-size: 12px;
    }
  }
  .commit {
    position: absolute;
    right: 15px;
    top: 15px;
  }
  #join {
    z-index: 40;
    font-size: 9px !important;
    margin-top: 3px;
    position: absolute;
    left: 165px;
  }

}
.commit-btn {
  display: none;
}

#story{
  height: 350px;
  width: 500px;
}

#newstory {
  position: absolute;
  top: 15px;
  right: 15px;
}

a.button, input.button {
    font-size: 12px !important;
    text-decoration: none;
    cursor: pointer;
    display: inline-block;
    position: relative;
    font-weight: bold;
    margin-bottom: 60px;
    padding: .4em 1.25em;
    color: #4c4c4c;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.3);
    -webkit-box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.2), inset 0 0 6px 0 rgba(255, 255, 255, 0.3), 0 1px 2px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.2), inset 0 0 6px 0 rgba(255, 255, 255, 0.3), 0 1px 2px rgba(0, 0, 0, 0.4);
    box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.2), inset 0 0 6px 0 rgba(255, 255, 255, 0.3), 0 1px 2px rgba(0, 0, 0, 0.4);
    background: #f6f6f6;
    background: -webkit-gradient(linear, left top, left bottom, from(#f6f6f6), to(#d4d4d4));
    background: -webkit-linear-gradient(#f6f6f6, #d4d4d4);
    background-image: -moz-linear-gradient(top, #f6f6f6, #d4d4d4);
    background-image: -moz-gradient(top, #f6f6f6, #d4d4d4);
    border: 1px solid #a1a1a1;
}

a.button:hover, input.button:hover {
    background: #f6f6f6;
    background: -webkit-gradient(linear, left top, left bottom, from(#f6f6f6), to(#ececec));
    background: -webkit-linear-gradient(#f6f6f6, #ececec);
    background-image: -moz-linear-gradient(top, #f6f6f6, #ececec);
    background-image: -moz-gradient(top, #f6f6f6, #ececec);
}

a.button:active, input.button:active {
    top: 1px;
    background: #ececec;
    background: -webkit-gradient(linear, left top, left bottom, from(#ececec), to(#f6f6f6));
    background: -webkit-linear-gradient(#ececec, #f6f6f6);
    background-image: -moz-linear-gradient(top, #ececec, #f6f6f6);
    background-image: -moz-gradient(top, #ececec, #f6f6f6);
    -webkit-box-shadow: inset 0 0 3px 0 rgba(0, 0, 0, 0.4), 0 1px 0 0 #000;
    -moz-box-shadow: inset 0 0 3px 0 rgba(0, 0, 0, 0.4), 0 1px 0 0 #000;
    box-shadow: inset 0 0 3px 0 rgba(0, 0, 0, 0.4), 0 1px 0 0 #000;
}

#mail {
    display: block;
    margin: 0 auto;
    -webkit-appearance: none;
    -moz-appearance: none;
    padding: 12px;
    padding-left: 10px;
  
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;

    background-color: #DFDFDF;
  
    width: 210px;
    height: 3px;
    color: #3a4449;
    border: none;
    outline: none;
  
    -webkit-box-shadow: 0 0 0 1px rgba(0,0,0,.3), 0 2px 0 rgba(255,255,255,.3), inset 0 1px 2px rgba(0,0,0,.2);
    -moz-box-shadow: 0 0 0 1px rgba(0,0,0,.3), 0 2px 0 rgba(255,255,255,.3), inset 0 1px 2px rgba(0,0,0,.2);
    box-shadow: 0 0 0 1px rgba(0,0,0,.3), 0 2px 0 rgba(255,255,255,.3), inset 0 1px 2px rgba(0,0,0,.2);
  
    position: relative;
    z-index: 2;
}
#test {
  width: 450px;
  overflow: scroll;
  height: 250px;
}

#mail:focus ~ #tips {
  display: block;
  top: auto;
}

#mail::-webkit-input-placeholder, #s:-moz-placeholder {
    color: #607078;
}

#tips {
  list-style:none;

  background: -webkit-linear-gradient(#3C404B, #3C404B 80%);
  background: -moz-linear-gradient(#596369, #354044 80%);
  background: -ms-linear-gradient(#596369, #354044 80%);
  background: -o-linear-gradient(#596369, #354044 80%);
  background: linear-gradient(#596369, #354044 80%);

  -webkit-transition: all .4s ease;
  -moz-transition: all .4s ease;
  -ms-transition: all .4s ease;
  -o-transition: all .4s ease;
  transition: all .4s ease;

  display: none;
  top: 20px;
  padding: 5px;
  padding-right: 0px;
  width: 210px;

  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;

  margin: 40px auto;
  margin-left: 0px;
  color: #fff;
  font-weight: 700;

  -webkit-box-shadow: 0 0 0 1px #19272e, inset 0 1px 0 rgba(255,255,255,.2), 0 2px 5px rgba(0,0,0,.4);
  -moz-box-shadow: 0 0 0 1px #19272e, inset 0 1px 0 rgba(255,255,255,.2), 0 2px 5px rgba(0,0,0,.4);
  box-shadow: 0 0 0 1px #19272e, inset 0 1px 0 rgba(255,255,255,.2), 0 2px 5px rgba(0,0,0,.4);

  position: relative;
  z-index: 10;
}

#tips:before {
    content: '';
    display:block;
    width: 12px;
    height: 12px;
    position:absolute;
    background:#3C404B;
    z-index: 2;
    top: -6px;
    left: 16px;
  
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  
    -webkit-box-shadow: inset 1px 1px 0 rgba(255,255,255,.1), -1px -1px 0 #19272e;
    -moz-box-shadow: inset 1px 1px 0 rgba(255,255,255,.1), -1px -1px 0 #19272e;
    box-shadow: inset 1px 1px 0 rgba(255,255,255,.1), -1px -1px 0 #19272e;
}

#tips li {
    padding: 5px 12px;
    cursor: pointer;
    position: relative;
    z-index: 20;
}

.fouras-icon {
  background: url(pere-fouras.jpg) no-repeat 0px 0px;
  height: 35px;
  width: 35px;
  display: block;
  position: absolute;
  left: 15px;
  top: 10px;
}

